.flickity-button {
    background-color: #444 !important;
}
.flickity-button-icon {
    fill: white;
}
.flickity-button:hover {
    background: #222 !important;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.bone {
    background-color: #E7DAC9;
}

.goldenBell {
    background-color: #E38917;
}

.redStage {
    background-color: #D54E06;
}

.sandstone {
    background-color: #766F6A;
}

.profileBG {
    background-color: #e0e0e0;
}

@media (max-width: 978px) {
    .card {
      margin:0;
    }
}

.goldenBell:hover {
    background-color: #D54E06;
}

.goldenBell:active {
    background-color: #E38917;
}

.biggerOnHover:hover {
    transform: scale(.98);
}